<div class="container"ng-controller="creatorCtrl as creator">
	<form name="cardForm" novalidate ng-submit="addCard()">
		<div class="form-group">
			<label for="cardName">Name</label>
			<input type="text" class="form-control" id="cardName" placeholder="Ca$per" ng-model="currentCard.name">
		</div>
		<div class="form-group">
			<label for="cardCost">Cost</label>
			<input type="text" class="form-control" id="cardName" ng-model="currentCard.cost">
		</div>
		<div class="form-group">
			<label for="cardType">Type</label>
			<input type="text" class="form-control" id="cardType" ng-model="currentCard.type">
		</div>
		<div class="form-group">
			<label for="cardText">Text</label>
			<div class="alert alert-danger" ng-show="cardForm.text.$invalid">Sorry friend, you went over the 175 character limit.</div>
			<input type="text" class="form-control" id="cardText" name="text" ng-model="currentCard.text" ng-maxlength="175">
		</div>
		<div class="form-group">
			<label for="cardValues">Values</label>
			<input type="text" class="form-control" id="cardName" ng-model="currentCard.value">
		</div>
		<div class="form-group">
			<label for="cardName">Number in deck</label>
			<input type="number" class="form-control" id="cardName" ng-model="currentCard.count">
		</div>
		<input type="submit" class="btn btn-default" value="Add Card(s)" ng-disabled="cardForm.$invalid">
	</form>	
	<h2>Card Count: {{ deckCount }} <a href="/print" class="btn btn-success btn-lg" ng-click="printDeck()">Print Deck</a></h2>
	<div class="deck">
		<h1 ng-show="!deck.length">YOU HAVE NO CARDS! ADD SOME, BUDDY!</h1>
		<div class="card-item" ng-repeat="card in deck track by $index">
			<div class="card-actions">
				<button class="btn btn-danger btn-xs" ng-click="deleteCard($index)">Remove</button>
			</div>
			<div class="card-body">
				<div class="card-row card-name">
					<input type="text" ng-model="card.name">
				</div>
				<div class="card-row">
					<input type="text" ng-model="card.cost">
				</div>
				<div class="card-row">
					<input type="text" ng-model="card.type">
				</div>
				<div class="card-row-large">
					<textarea rows="8" type="text" ng-model="card.text"></textarea>
				</div>
				<div class="card-row card-values">
					<input type="text" ng-model="card.values">
				</div>
			</div>
		</div>
	</div>

</div>