<div class="container" ng-controller="creatorCtrl as creator">
	<div class="card-section">
		<form class="card-form" name="cardForm" novalidate ng-submit="addCard()">
			<div class="alert alert-danger" ng-show="cardForm.text.$invalid">Sorry friend, you went over the 175 character limit.</div>
			<div class="card-body">
				<div class="card-row card-name">
					<input type="text" ng-model="currentCard.name" placeholder="CARD NAME">
				</div> 
				<div class="card-row">
					<input type="text" ng-model="currentCard.cost" placeholder="COST">
				</div>
				<div class="card-row">
					<input type="text" ng-model="currentCard.type" placeholder="TYPE">
				</div>
				<div class="card-row-large">
					<textarea rows="12" type="text" ng-model="currentCard.text" placeholder="ENTER TEXT..." name="text" ng-maxlength="175"></textarea>
				</div>
				<div class="card-row card-values">
					<input type="text" ng-model="currentCard.values" placeholder="VALUES">
				</div>
			</div>
			<div class="form-group">
				<label for="cardName">Number in deck</label>
				<input type="number" class="form-control" id="cardName" ng-model="currentCard.count">
			</div>
			<input type="submit" class="btn btn-default" value="Add Card(s)" ng-disabled="cardForm.$invalid">
		</form>	
		<h2>Card Count: {{ deckCount }} <a href="/print" class="btn btn-success btn-lg" ng-click="printDeck()">Print Deck</a></h2>
	</div>
	<div class="deck-section">
		<div class="deck">
			<h1 ng-show="!deck.length">YOU HAVE NO CARDS! ADD SOME, BUDDY!</h1>
			<div class="card-item" ng-repeat="card in deck track by $index">
				<div class="card-actions">
					<button class="btn btn-danger btn-xs" ng-click="deleteCard($index)">Remove</button>
				</div>
				<div class="card-body">
					<div class="card-row card-name">
						<input type="text" ng-model="card.name">
					</div>
					<div class="card-row">
						<input type="text" ng-model="card.cost">
					</div>
					<div class="card-row">
						<input type="text" ng-model="card.type">
					</div>
					<div class="card-row-large">
						<textarea rows="8" type="text" ng-model="card.text"></textarea>
					</div>
					<div class="card-row card-values">
						<input type="text" ng-model="card.values">
					</div>
				</div>
			</div>
		</div>
	</div>

</div>